<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">


    <style>
        body{
            padding-left: 4.5rem;
        }
        #tutorContent{
            margin: 30px auto;
            width: 50rem;
        }
        #form-assignment{
          margin: auto;
          
        }
        @media (min-width: 768px) {
        #form-assignment{
          width: 35rem;
        }
    }
    #hiddenLink{
      display: none;
    }
    
    </style>
    
</head>

<body>
    
    <%- include('../includes/navigation.ejs') %>
    <%- include('./nav.ejs') %>
        <div id="tutorContent">
          <div class="col-md-8" id="divNotFile">
          <div class="card-body">
            <h4 class="card-title text-left mb-2">Event : <%= event.eventHead %></h4>
            <h5 class="card-title text-left mb-2">Conducting By : <%= event.eventBy %></h5>
            <h5 class="card-title text-left mb-2">Topic : <%= event.topic %></h5>
            <div class="card-footer bg-transparent border-dark ">Date : <%= event.date %></div>
          </div>

          <form action="/tutor/events/details/pay/razor" method="post" id="eventPaymentFormRazor">
            <input type="hidden" name="eventId" id="eventId" value="<%= event._id %>">
            <input type="hidden" name="eventPrice" id="eventPriceRazor">
            <input type="hidden" name="paymentMethod" value="Razor">
            <button type="button" class="btn btn-primary mb-3 mt-3" onclick="postPaymentRazor()">Pay Rs. <%= event.eventPrice %><br>Razor Pay</button>
          </form>  

          <form action="/tutor/events/details/pay/paypal" method="post" id="eventPaymentFormPaypal">
            <input type="hidden" name="eventId" id="eventId" value="<%= event._id %>">
            <input type="hidden" name="eventPrice" id="eventPricePaypal">
            <input type="hidden" name="paymentMethod" value="Paypal">
            <button type="button" class="btn btn-primary mb-3 mt-3" onclick="postPaymentPaypal()">Pay Rs. <%= event.eventPrice %><br>PayPal</button>
          </form> 

          <form action="/tutor/events/details/pay/paytm" method="post" id="eventPaymentFormPaytm">
            <input type="hidden" name="eventId" id="eventId" value="<%= event._id %>">
            <input type="hidden" name="eventPrice" id="eventPricePaytm">
            <input type="hidden" name="eventStudentId" id="eventStudentId">
            <input type="hidden" name="paymentMethod" value="Paytm">
            <button type="button" class="btn btn-primary mb-3 mt-3" onclick="postPaymentPaytm()">Pay Rs. <%= event.eventPrice %><br>Paytm</button>
          </form>
          
          </div>
        </div>

        <script>
          function postPaymentRazor(){
            var form = document.getElementById('eventPaymentFormRazor');
            document.getElementById('eventPriceRazor').value = '<%= event.eventPrice %>'
            form.submit();
          }

          function postPaymentPaypal(){
            var form = document.getElementById('eventPaymentFormPaypal');
            document.getElementById('eventPricePaypal').value = '<%= event.eventPrice %>'
            form.submit();
          }

          function postPaymentPaytm(){
            var form = document.getElementById('eventPaymentFormPaytm');
            document.getElementById('eventPricePaytm').value = '<%= event.eventPrice %>'
            form.submit();
          }
        </script>
<script>
  const height = window.innerHeight;
  document.getElementById("sidebar").style.height = height+'px';
</script>
<%- include('../includes/end.ejs') %>