<%- include('../includes/head.ejs') %>
    <style>
        body{
            padding-left: 4.5rem;
        }
        
    </style>
</head>

<body>
    
    <%- include('../includes/navigation.ejs') %>
    <%- include('./nav.ejs') %>
    <a href="/tutor/chat"> <i class="fas fa-comment-dots" id="chatBox"></i></a>
    <div id="tutorContent" class="centered justify-content-center">
      
        <style>
            #tutorContent h1,#tutorContent p{
                color: #0F2027;
            }
            #tutorContent.card {
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              max-width: 300px;
              margin: auto;
              text-align: center;
              font-family: arial;
            }
            
            #tutorContent.title {
              color: rgb(49, 6, 6);
              font-size: 18px;
            }
            
            
            #tutorContent a {
              text-decoration: none;
              font-size: 22px;
              color: rgb(250, 250, 250);
              width: 10rem;
              margin: auto;
              background-color: #0F2027;
            }

            #tutorContent a:hover {
              color: rgb(255, 255, 255);
              transition: all 0.5s;
              background-color: #030a25;
            }
            
            #tutorContent button:hover{
              opacity: 0.7;
            }
            #tutorContent.centered{
              margin: 50px auto;
            }


            .avatar-upload {
              position: relative;
              max-width: 205px;
              margin: 25px auto;
            }
            .avatar-edit {
              position: absolute;
              right: 12px;
              z-index: 1;
              top: 10px;
              width: 24px;
            }
            .avatar-edit input {
              display: none;
            }
            .avatar-preview {
              width: 192px;
              height: 192px;
              position: relative;
              border-radius: 100%;
              border: 6px solid #F8F8F8;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            }
            .avatar-preview img {
              width: 100%;
              height: 100%;
              border-radius: 100%;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
            </style>
            
            </head>
            <body>
                <center>
            <div id="container" style="width: 22rem;">
            <h2 style="text-align:center">My Profile</h2>
            
            <div class="card text-center ">
              <div class="avatar-upload">
                <div class="avatar-edit">
                    <input  type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                  <% if(!photo){ %>
                    <img id="imagePreview" src="https://i.pinimg.com/originals/df/25/e3/df25e39d7400f1bbcb7adf695063faaa.jpg"/>
                  <% } else { %>
                    <img id="imagePreview" src="/<%= photo %>"/>
                  <% } %>
                </div>
              </div>
              <!-- <img src="https://picsum.photos/id/1005/300/200" alt="name" style="width:100%"> -->
              <% if(!name && !job && !division && !mobile && !tEmail && !address){ %>
                <h3 class="mt-3 ml-2 mr-2">Name</h3>
              <p class="title">Job</p>
              <p>Class - Division</p>
              <p>Mobile No.</p>
              <p>Email</p>
              <p class="ml-2 mr-4">Address</p>
              <% } else { %>
                <h3 class="mt-3 ml-2 mr-2"><%= name %></h3>
              <p class="title"><%= job %></p>
              <p><%= tClass %> - <%= division %></p>
              <p><%= mobile %></p>
              <p><%= tEmail %></p>
              <p class="ml-2 mr-4"><%= address %></p>
              <% } %>
              
              <a href="profile/edit/<%= tutorId %>?edit=true" class="btn mb-3">Edit</a>
            </div>
        </div>
    </center>
    </div>
    
    
<%- include('../includes/end.ejs') %>